/obj/Debug/net6.0/apphost
/cardsearch_API/obj/Debug/net6.0/cardsearch_API.csproj.AssemblyReference.cache
/cardsearch_API/obj/Debug/net6.0/cardsearch_API.csproj.CoreCompileInputs.cache
/cardsearch_API/obj/Debug/net6.0/cardsearch_API.csproj.FileListAbsolute.txt
/cardsearch_API/bin/Debug/net6.0/cardsearch_API.deps.json
/cardsearch_API/bin/Debug/net6.0/ref/cardsearch_API.dll
/cardsearch_API/bin/Debug/net6.0/cardsearch_API.dll
/cardsearch_API/obj/Debug/net6.0/ref/cardsearch_API.dll
/cardsearch_API/obj/Debug/net6.0/cardsearch_API.dll
/cardsearch_API/bin/Debug/net6.0/cardsearch_API.pdb
/cardsearch_API/obj/Debug/net6.0/cardsearch_API.pdb
/bin/Debug/net6.0/cardsearch_lib
/obj/Debug/net6.0/cardsearch_lib.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/cardsearch_lib.csproj.FileListAbsolute.txt
/bin/Debug/net6.0/cardsearch_lib.deps.json
/bin/Debug/net6.0/ref/cardsearch_lib.dll
/bin/Debug/net6.0/cardsearch_lib.dll
/obj/Debug/net6.0/ref/cardsearch_lib.dll
/obj/Debug/net6.0/cardsearch_lib.dll
/obj/Debug/net6.0/cardsearch_lib.genruntimeconfig.cache
/bin/Debug/net6.0/cardsearch_lib.pdb
/obj/Debug/net6.0/cardsearch_lib.pdb
/bin/Debug/net6.0/cardsearch_lib.runtimeconfig.json
